body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.text {
    font-size: 1.5em;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 0.5s ease;
}
.text:hover {
    transform: scale(1.1);
}
p {
    font-size: 1.5em;
    transition: all 350ms ease;
}

p:hover {
    transform: scale(1.1);
}


.button {
    background-color: #ffffff;
    border: none;
    padding: 20px 40px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


.button:active {
    background-color: #e6a409;
    transform: translateY(9px);
}

