body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: none;
}

.text {
    font-size: 1.5em;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 0.5s ease;
}
.text:hover {
    transform: scale(1.1);
}

p {
    font-size: 1.5em;
    transition: all 350ms ease;
}

p:hover {
    transform: scale(1.1);
}


.button {
    background-color: #ffffff;
    border: none;
    padding: 20px 40px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


.button:active {
    background-color: #000000;
    color: #ffffff;
    transform: translateY(9px);
}

.circle {
    width: 10vh;
    height: 10vh;
    background-color: hsl(56, 95%, 69%);
    border-radius: 50%;
    animation-name: zoom;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes zoom {
    0% {
        transform: scale(5);
        top: 90vh;
        left: 0vw;
        filter: blur(20px);
    }
    50% {
        transform: scale(5);
        top: 65vh;
        left: 45vw;
        filter: blur(20px);
    }
    100% {
        transform: scale(5);
        top: 90vh;
        left: 90vw;
        filter: blur(20px);
    }

}

.circle2 {
    width: 10vh;
    height: 10vh;
    background-color: hsl(189, 95%, 69%);
    border-radius: 50%;
    animation-name: zoom2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes zoom2 {
    0% {
        transform: scale(5);
        top: 90vh;
        left: 90vh;
        filter: blur(40px);
    }
    50% {
        transform: scale(5);
        top: 65vh;
        left: 45vw;
        filter: blur(40px);
    }
    100% {
        transform: scale(5);
        top: 90vh;
        left: 0vw;
        filter: blur(40px);
    }

}

.circle3 {
    width: 10vh;
    height: 10vh;
    background-color: hsl(36, 95%, 69%);
    border-radius: 50%;
    animation-name: zoom3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes zoom3 {
    0% {
        transform: scale(5);
        top: 0vh;
        left: 90vh;
        filter: blur(40px);
    }
    50% {
        transform: scale(5);
        top: 35vh;
        left: 45vw;
        filter: blur(40px);
    }
    100% {
        transform: scale(5);
        top: 0vh;
        left: 0vw;
        filter: blur(40px);
    }

}

.circle4 {
    width: 10vh;
    height: 10vh;
    background-color: hsl(237, 95%, 69%);
    border-radius: 50%;
    animation-name: zoom4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes zoom4 {
    0% {
        transform: scale(5);
        top: 0vh;
        left: 0vh;
        filter: blur(40px);
    }
    50% {
        transform: scale(5);
        top: 35vh;
        left: 45vw;
        filter: blur(40px);
    }
    100% {
        transform: scale(5);
        top: 0vh;
        left: 90vw;
        filter: blur(40px);
    }

}