* {
    transition: all 0.3s ease-in-out;
}

body {
    background-color: rgb(10, 10, 10);
    color: white;
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    animation: glideUp 1s ease-in-out;
}

.btn {
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 40px;
}

.btn:hover {
    background-color: rgb(31, 208, 96);
    animation: pulse 1s ease-in-out;
}

.btn:hover span {
    display: none;
}

.btn:hover::after {
    content: "GOOGLE10";
    display: inline-block;
    animation: pulse 1s ease-in-out;
}

.btn2 {
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 40px;
}

.btn2:hover {
    background-color: rgb(31, 208, 96);
    color: rgb(0, 0, 0);
    animation: pulse 1s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

header {
    background-color: rgb(10, 10, 10);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: rgb(10, 10, 10);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 50px;
    margin-left: 40px;
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
}

header img:hover {
    transform: rotate(360deg);
}

nav a {
    font-size: 22px;
    font-weight: bold;
    color: rgb(172, 172, 172);
}

nav a:hover {
    color: white;
}

nav ul {
    display: flex;
}


nav ul li {
    margin-left: 50px;
}

.active {
    color: white;
}

.section-a {
    background-image: linear-gradient(45deg, rgb(24, 24, 24), rgb(37, 37, 37) 50%, rgb(24, 24, 24));
    padding: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 25px;
    transition: background-image 5s ease-in-out;
}

.section-a:hover {
    background-image: linear-gradient(45deg, rgb(32, 32, 32) , rgb(18, 18, 18) 50%, rgb(33, 33, 33) );
}

.content h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.section-a h2:hover {
    text-decoration: underline;
}

.specifications {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.specifications .spec1 {
    background-color: rgb(24, 24, 24);
    padding: 50px;
    border-radius: 25px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.specifications .spec1:hover {
    transform: scale(1.1);
}

.specifications .spec2 {
    background-color: rgb(24, 24, 24);
    padding: 50px;
    border-radius: 25px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.specifications .spec2:hover {
    transform: scale(1.1);
}

.specifications .spec3 {
    background-color: rgb(24, 24, 24);
    padding: 50px;
    border-radius: 25px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.specifications .spec3:hover {
    transform: scale(1.1);
}

.specifications .spec1:hover {
    background-color: rgb(118, 118, 118);
}

.specifications .spec2:hover {
    background-color: rgb(118, 118, 118);
}

.specifications .spec3:hover {
    background-color: rgb(118, 118, 118);
}

#phone1 {
    width: 300px;
    height: auto;
    animation: rotateRight 4s infinite;
    animation-delay: 2s;
}

#phone2 {
    width: 300px;
    height: auto;
    animation: rotateRight 4s linear infinite;
    animation-delay: 2s;
}

#phone3 {
    width: 300px;
    height: auto;
    animation: rotateRight 4s linear infinite;
    animation-delay: 2s;
}


.video-trailer {
    margin-left: 100px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 10px 25px;
    transition: box-shadow 0.3s ease-in-out;
    animation: glow 1s ease-in-out infinite;
}


.reviews {
    background-color: rgb(24, 24, 24);
    padding: 50px;
    border-radius: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.reviews:hover {
    animation: pulse 1s ease-in-out;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.footer-bottom {
    background-color: rgb(24, 24, 24);
    padding: 50px;
    border-radius: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: background-color 0.3s ease-in-out;
}

.footer-bottom:hover {
    background-color: rgb(47, 206, 63);
}


.section-a .content h2 {
    font-size: 40px;
    animation: typing 3s steps(40, end);
    overflow: hidden;
    white-space: nowrap;
}


.reviews .review1 h2 {
    animation: glideUp 1s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes glideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    }
}

@keyframes rotateRight {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: perspective(800px) rotateY(0deg) translate3d(0px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 0;
        transform: perspective(800px) rotateY(180deg) translateZ(150px);
    }
}



@media screen and (max-width: 1000px) {

    header {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 10px;
    }

    header .btn {
        display: none;
    }

    .section-a {
        flex-direction: column;
        margin-left: 30px;
        margin-right: 15px;
        padding: 20px;
        padding-left: 50px;
    }

    .video-trailer {
        display: none;
    }

    .section-a .content {
        margin-top: 1px;
    }

    .section-a .content h2 {
        font-size: 30px;
    }

    .section-a .content p {
        font-size: 15px;
    }

    .specifications {
        grid-template-columns: 1fr;
        margin-left: 30px;
        margin-right: 5px;
        padding: 20px;
        padding-left: 5px;
        grid-gap: 10px;
    }


    .specifications .spec1 {
        padding: 30px;
    }

    .specifications .spec2 {
        padding: 30px;
    }

    .specifications .spec3 {
        padding: 30px;
    }

    .reviews {
        margin-left: 30px;
        margin-right: 15px;
        padding: 20px;
        padding-left: 50px;
    }

    .footer-bottom {
        margin-left: 30px;
        margin-right: 15px;
        padding: 20px;
        padding-left: 50px;
    }
}